// API Endpoint Configuration
// 이 파일은 API URL들을 정의합니다.

API_BASE_URL = http:/$()/localhost:3000

API_SIGNUP_URL = $(API_BASE_URL)/auth/signup
API_LOGIN_URL = $(API_BASE_URL)/auth/signin
API_LOGOUT_URL = $(API_BASE_URL)/auth/signout

API_CHECK_EMAIL_URL = $(API_BASE_URL)/auth/check-email
API_ACCESS_TOKEN_URL = $(API_BASE_URL)/auth/refresh
API_USER_INFO_URL = $(API_BASE_URL)/auth/userinfo
API_CHANGE_PASSWORD_URL = $(API_BASE_URL)/auth/change-password
API_FIND_EMAIL_URL = $(API_BASE_URL)/auth/find-email
