<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>APIAccessTokenURL</key>
    <string>$(API_ACCESS_TOKEN_URL)</string>
    <key>APIBaseURL</key>
    <string>$(API_BASE_URL)</string>
    <key>APIChangePasswordURL</key>
    <string>$(API_CHANGE_PASSWORD_URL)</string>
    <key>APICheckEmailURL</key>
    <string>$(API_CHECK_EMAIL_URL)</string>
    <key>APIFindEmailURL</key>
    <string>$(API_FIND_EMAIL_URL)</string>
    <key>APILoginURL</key>
    <string>$(API_LOGIN_URL)</string>
    <key>APILogoutURL</key>
    <string>$(API_LOGOUT_URL)</string>
    <key>APISignupURL</key>
    <string>$(API_SIGNUP_URL)</string>
    <key>APIUserInfoURL</key>
    <string>$(API_USER_INFO_URL)</string>
    <key>APIOCRURL</key>
    <string>$(API_OCR_URL)</string>
    <key>APIOCRSolutionURL</key>
    <string>$(API_OCR_SOLUTION_URL)</string>
    <key>APIMyQuestionURL</key>
    <string>$(API_MY_QUESTION_URL)</string>
    <key>APIDeleteAccountURL</key>
    <string>$(API_DELETE_ACCOUNT_URL)</string>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
